singularity.enabled = true
singularity.autoMounts = true

process {
    withName: 'fastp' {
        container = 'docker://staphb/fastp:0.24.1'
    }
    withName: 'multiqc' {
        container = 'docker://staphb/multiqc:1.28'
    }
    withName: 'samtools' {
        container = 'docker://staphb/samtools:1.21'
    }
    withName: 'prokka' {
        container = 'docker://staphb/prokka:1.14.6'
    }
    withName: 'kraken2' {
        container = 'docker://staphb/kraken2:2.0.8-beta'
        memory = '16 GB'
        cpus = 4
    }

    withName: 'hmmer' {
        container = 'docker://staphb/hmmer:3.4'
    }
    withName: 'pilon' {
        memory = '32 GB'
    }
}