singularity.enabled = true
singularity.autoMounts = true

process {
    withName: 'fastp' {
        container = 'docker://staphb/fastp:0.24.1'
    }
    withName: 'multiqc' {
        container = 'docker://staphb/multiqc:1.28'
    }
    withName: 'samtools' {
        container = 'docker://staphb/samtools:1.21'
    }
    withName: 'kraken2' {
        container = 'docker://staphb/kraken2:2.0.8-beta'
    }
    withName: 'unicycler' {
        container = 'docker://staphb/unicycler:0.5.1'
    }
    withName: 'ntm_profiler' {
        errorStrategy = 'ignore'
    }
}
